<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.22/css/dataTables.bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.22/js/dataTables.bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
        function update_customer(data){
            data = data.split(',');
            $('#modal_user_id').val(data[0].slice(data[0].lastIndexOf('/')+1));
            $('#modal_first_name').val(data[1]);
            $('#modal_last_name').val(data[2]);
            $('#modal_email').val(data[3]);
            $('#modal_tags').val([... data.slice(4,)])
        }
        function save_user_data(){
            $.ajax({
                url: '/update_customer/',
                type: 'POST',
                dataType: 'json',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}', 
                    user_id: $("#modal_user_id").val(),
                    first_name: $("#modal_first_name").val(),
                    last_name: $("#modal_last_name").val(),
                    email: $("#modal_email").val(),
                    tags: $("#modal_tags").val()
                },
                success: function(data) {
                    console.log(data);
                    if(data=='422')
                    alert('Customer modification failed, invalid data entered');
                    else if(data=='200')
                    alert('Customer modified');
                }
            });
        }
        let data = {{data | safe }};
        $(document).ready(function(){
        $.each(data, function(index, element){
            $('#table_body').append('<tr>'+
                                '<td>'+element.node.firstName+' '+element.node.lastName+'</td>'+
                                '<td>'+element.node.email+'</td>'+
                                '<td>'+element.node.ordersCount+'</td>'+
                                '<td><button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal" onclick="update_customer(\''+[element.node.id,element.node.firstName,element.node.lastName,element.node.email, element.node.tags]+'\')">Update Customer</button></td>'+
                            '</tr>');
        });
        $('#dt').DataTable();
        });
    </script>
</head>
<body>
    <table id="dt" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <th>
                <tr>
                    <th>Name</th>
                    <th>Email Address</th>
                    <th>Orders</th>
                    <th>Actions</th>
                </tr>
            </th>
        </thead>
        <tbody id="table_body">

        </tbody>
    </table>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
                <input type="hidden" name="modal_user_id" id="modal_user_id" val="">
                  First Name: <input type="text" class="form-control" id="modal_first_name"><br>
                  Last Name: <input type="text" class="form-control" id="modal_last_name"><br>
                  Email: <input type="email" class="form-control" id="modal_email"><br>
                  Tags: <input type="text" class="form-control" id="modal_tags"><br>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" onclick="save_user_data()" data-dismiss="modal">Save</button>
              <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
          </div>
      
        </div>
      </div>
</body>
</html>